:root {
    font-family: "Trebuchet MS", sans-serif;
    color: #1C252C;
    background: #F6F2F6;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
}

button,
input {
    font: inherit;
}

button {
    cursor: pointer;
}

main {
    min-height: 100vh;
}
